doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Do+Hyeon', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Titan+One', rel='stylesheet')
    link(rel='stylesheet', href=dir+'/nav.css')
    link(rel='stylesheet', href=dir+'/bar.css')
    link(rel='stylesheet', href=dir+'/section.css')
    meta(charset='UTF-8')
    title S
  body
    nav.left_bar
      a(href="/")
        span.logo SA
      span#bar.bar(onClick="clk()")
        span.bar_line
        span.bar_line
        span.bar_line
    #list.list
      ul
        each v in list
            a(href='/'+v)
                li.bar_list= v
    section
      h1.title= name
      .imgBox
        if(episode)
            video(src="./"+file_list[episode] controls)
                track(kind="subtitles",srclang="ko",src="./"+subs[episode], default)
      .play_list
        ul
          each file, index in file_list
            a(href='/'+name+'/'+index)
                li= file
  script(src=dir+'/bar.js')
